
.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

body {
    padding-top: 80px;
}
@media (max-width: 979px) {
    body#home {
        padding-top: 0px;
    }
}

body#home  {
    padding-top: 0px;
}


footer {
    margin: 50px 0;
    width:100%;
    min-height:100px;

}

